@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body, td {
    font-family: 'Lato';
    font-size: 18px;
}
code.r{
  font-size: 15px;
}
pre {
  font-size: 15px
}
a {
  font-size: 18px
}